
$linecolor: #c7c7c7;


*{
	font-family: 'open sans', sans-serif;
	-webkit-box-sizing: border-box;
}

body{
	background: -webkit-linear-gradient(#fff, #E8EBEB);

}
/*.secondbar{
	height: 40px;
	background-color: #F9FDFD;
	//border-bottom: 5px solid #282828;
	-webkit-box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.5);
	box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.5);
	z-index:500;
	ul.inicial{
		
		
		//color: #282828;
		text-align: right;
		margin: 0px;
		padding: 0px;
		.btn-group{
			.btn{
				padding: 0px 12px;
				background-color: #F9FDFD;
				border-color: #F9FDFD;
				border-radius: 0px;

			}
			 .dropdown-toggle.btn-default:hover{
				background-color: rgba(139,178,175,0.3);

			}
			.dropdown-menu{
				border-radius: 0px;
				background-color: #F9FDFD;
				left: -150px;
			}
		}
		

		li{
			display: inline-block;
			padding: 10px;
			margin-right: 10px;

			
			a{
			text-decoration: none;
			color: #282828;
			font-size: 14px;
			

			}
		}

		li:hover{
			background-color: rgba(139,178,175,0.3);
			height: 100%;
			-webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5);
			-moz-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5);
			box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5);
		}
	}


}*/

.secondbar{
	background-color: #F9FDFD;
	-webkit-box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.5);
	box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.5);
	z-index: 500;
	.navbar{ 
		margin-bottom: 0px;

	}
	.navbar-default{
		border-color: white;
		background-color: #F9FDFD;
	}
}


.logo-bar{
	
	
	width: 100%;
	display: inline-block;
	margin: 5px 0px;
	margin-bottom: -15px;
	
	//-webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5);
	//-moz-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5);
	//box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5);
	//height: 50px;
	
	


	figure{
		padding: 6px;
		//width: 5px;
		text-align: left;
		//height: 95px;
		display: inline-block;
		//background-color: white;
		
		img{
			margin-left: 100px;
			width: 120px;
		}
	}
	
	ul{
		text-align: right;
		padding: 0px;
		margin: 0px;
		
		li{
			display: inline-block;
			text-decoration: none;
			padding: 25px;
			margin-right: 0px;
			transition: background-color 0.6s linear 0.5s;
			transition: box-shadow 0.1s linear 0.3s;
			font-size: 14px;
			//font-weight: bold;
			vertical-align: center;

			
			a{
				color: white;

			}
			a:hover{
				text-decoration: none;
				color: black;

			}			
		}

		li:hover{
			background-color: rgba(139,178,175,0.3);
			height: 100%;
			-webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5);
			-moz-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5);
			box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5);
		}
	}
}

.bar-bar{
	padding-right: 0px;
	padding-bottom: 10px;
	margin-bottom: 0px;
	//background-color: #0087BC;
	background: -webkit-linear-gradient(#fff, #F9FDFD);
	background: -moz-linear-gradient(#fff, #F9FDFD);
	background: linear-gradient(#fff, #F9FDFD);
	border-bottom: 1px solid $linecolor;

	//border: 1px solid #282828;

}

div#myCarousel{
	padding-left: 0px;
	padding-right: 0px;
	.carousel-control{
		//width: 60%;
	}


	.carousel-indicators{
		z-index: 0;
		.active{
			 background-color: #7D8ADE;

		}
		  
		   
		   	li{
		   		 border: 1px solid #7D8ADE;

		   	}
		  
	}

	.carousel-control.right{
		    background-image: linear-gradient(to right,rgba(255, 255, 255, 0) 0,rgba(255, 255, 255, 0) 50%);
		    padding-right: 5px;
			//right: -15px;
	}
	
	.carousel-control.left{
			background-image: linear-gradient(to left,rgba(255, 255, 255, 0) 0,rgba(255, 255, 255, 0) 50%);
			padding-left: -5px;
			left: 0px;
	}

	div.carousel-inner{
		margin-left: 0px;
		border: 0px;
		//border-bottom: 5px solid #282828;

		//border-radius: 10px;
		-webkit-box-shadow: 0px 3px 2px rgba(0, 0, 0, 0.5);
		-moz-box-shadow: 0px 3px 2px rgba(0, 0, 0, 0.5);
		box-shadow: 0px 3px 2px rgba(0, 0, 0, 0.5);
		
		div.item{
			text-align: center;
			
			


			div.carousel-caption{
				right: 40%;
				left: 6%;
				margin-right: 250px;
				color: #282828;
				//width: 25%;
				font-size: 14px;
				text-shadow: 0 0px 0px rgba(0,0,0,.0);
				bottom: 100px;
				span{
					font-size: 60px;
					color: #CE1515;
				}

				p{

				}
			}

			img{
				display: inline-block;
				width: 100%;
				
				//height: 300px;
				//border-radius: 10px;
			}
		}
	}
}

.first{
	//background: -webkit-linear-gradient(#fff, #E8EBEB);
	//background-color: #6495CC;
	border-bottom: 1px solid $linecolor;
	//margin-right: 200px;
	//margin-left: 200px;
	padding: 0px;
	width: 100%;

	
}
.box{

	//background-color: black;
	//height: 245px;
	padding-left: 0px;
	padding-right: 0px;
	margin: 10px;
}
	


.container-box{
	
	margin-top: 0px;
	//margin-left: auto;
	//margin-right: auto;
	//-webkit-box-shadow: 0px 0px 5px grey;
	//padding: 40px;
	
	width: 100%;
	//border-radius: 10px;
}

.container-box-2{
	//background-color: rgba(0,143,195,0.3);
	margin-top: 20px;
	-webkit-box-shadow: 0px -1px 1px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 0px -1px 1px rgba(0, 0, 0, 0.5);
	box-shadow: 0px -1px 1px rgba(0, 0, 0, 0.5);
		
	
	.clients{
		
		text-align: center;
		//padding:20px;
		padding-top: 10px;
		background-color: #f4f4f4;
		background: -webkit-linear-gradient(#F9FDFD, #EEF1F1);
		background: -moz-linear-gradient(#F9FDFD, #EEF1F1);
		background: linear-gradient(#F9FDFD, #EEF1F1);
		//border: 1px solid $linecolor;
		
		//border-radius: 10px;
		width: 100%;

		figure{
			display: inline-block;
			border-right: 1px dashed $linecolor;
			padding: 10px 0px;
			margin-right: 25px;
			
			img{
				width: 85px;
				margin-right: 25px;
				//transition: width 0.5s linear 0.1s;
			}
			
		}
		.row{
			text-align: center;
			p{
				margin-top: 10px;
				color: #00A7D9;
				font-size: 14px;
				font-weight: bold;


			}
			
		}
	
	}
}





.social *{
	margin-right: 24px;
}

.footer-social{	
	a:link, a:visited, a:hover, a:active{
		text-decoration: none;
		color: #282828;
	}
	
}

.container{

	//margin-right: 100px;
	//margin-left: 100px;
	
}






.content-section{
	
	margin-top: 20px;
	margin-bottom: 20px;
	text-align: center;
	//padding: 40px;

		.b1{
			
			background-color: #005290;
			//border-top-left-radius: 15px;
			
		}
		
		.b2{
			background-color: #007790;
		
		}
		.buttons-item-box{
			//background-color: #00A7D9;
			//height: 40px;
			//border-radius: 10px;
			z-index: 2;
			//margin-right: 10px;
			//margin-bottom: 10px;
			//margin-left: 75px;
		

			span{
				font-size: 60px;
				color: white;
				margin-top: 10px;
				margin-bottom: 20px;
				
			}
			p{
				font-size: 14px;
				color: white;
				font-weight: bold;
				margin-top: 10px;
				
				

			}
		}
		
		
		.buttons-item-box2{
			background-color: #07AF41;
			height: 42px;

		}
		.buttons-item-box2:hover{
			-webkit-box-shadow: 0px 3px 2px rgba(0, 0, 0, 0.5);
			-moz-box-shadow: 0px 3px 2px rgba(0, 0, 0, 0.5);
			box-shadow: 0px 3px 2px rgba(0, 0, 0, 0.5);
			
			background-color: #08983A;
			//background: -webkit-linear-gradient(#fff, #E8EBEB);
			//background: -moz-linear-gradient(#fff, #E8EBEB);
			//background: linear-gradient(#fff, #E8EBEB);
		
			

		}

}

.contenido{
			//background-color: #00A7D9;
			border-right: 1px dashed $linecolor;
			
			//margin-top: 40px;
			//height: 200px;
			//margin-right: 45px;
			//padding: 0px;
			//margin-left: 10px;
			.contenido2{
				width: 50%;
				margin-right: 0px;
				margin-left: 25%
			}
			

			h2{
				
				font-size: 19px;
				color: #00A7D9;
			}
			p{
				text-align: left;
			}
			img{
				width: 120px;
				//margin-top: 70px;
				border-radius: 10px;
				transition: width 0.5s linear 0.1s;
				margin-top: 10px;

			}
			

		}



.productos{
}

.productos-select{
	padding: 16px;
}

.productos-info{
	width: 60%;
	margin: 0 auto;
	background-color: #EaEaEa;
	padding: 24px;
	border: 1px solid black;
}

.line{
	display: inline-block;
	vertical-align: middle;
	background-color: #E8EAEA;
	border-top: 1px solid rgba(255,255,255,0.8);
	height: 1px;
	width: 40px;
	border-radius: 4px;
	-webkit-box-shadow: 0px 0.5px 1px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 0px 0.5px 1px rgba(0, 0, 0, 0.5);
	box-shadow: 0px 0.5px 1px rgba(0, 0, 0, 0.5);
}

.producto{
	position: relative;
	display: inline-flex;
	align-items: center; 
	justify-content: center;
	height: 64px;
	width: 150px;
	//border-radius: 50%;
	background-color: #EBEBEB;
	cursor: pointer;
	color: #3C486E;
	font-weight: bold;
	border-radius: 10px;
	border-top: 1px solid rgba(255,255,255,0.8);
}

.producto .producto-tooltip{
	visibility: hidden;
	width: 0;
	height: 0;
	border-left: 16px solid transparent;
	border-right: 16px solid transparent;
	border-bottom: 24px solid #EaEaEa;
	
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: -16px;
	margin-top: 4px;
	z-index: 100;
}

.producto.selected{
	background-color: #007790;
	color: white;
	border-top: 1px solid rgba(255,255,255,0.8);
	-webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.5);
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.5);
			
}

.producto.selected .producto-tooltip{
	visibility: visible;
}

.contacto{
	margin-top: 48px;
}

.footer{
	background: -webkit-linear-gradient(#EEF2F2, #E3E4E4);
	background: -moz-linear-gradient(#EEF2F2, #E3E4E4);
	background: linear-gradient(#EEF2F2, #E3E4E4);
}

.productos{
	padding: 40px;
	background-color: #f0f0f0;
	border-bottom: 1px dashed $linecolor;
	
	img{
		height: 180px;
		width: 180px;
		border-radius: 50%;
	}

	p{
		position: relative;
		text-align: justify;
	}
}

.valign{
	display: inline-block;
	vertical-align: middle;
	float: none;
}

@media(max-width:400px){
	.productos2 img{
		margin-bottom: 16px;
	}
}

.modal-body{
	text-align: center;
}