.news {
  overflow-y: scroll;
  height: 296px;
  padding-left: 24px;
}

.news .article {
  padding: 16px 0;
  border-bottom: 1px solid #c7c7c7;
}

.news .article img {
  float: left;
  height: 80px;
  width: 140px;
  margin-right: 16px;
}

.news .article .article_info {
  margin-left: 156px;
}

.news .article .title {
  font-weight: bold;
  font-size: 1.5em;
}

.news .article .author, .news .article .date {
  font-size: 1em;
  margin-right: 8px;
}

.news .article .date {
  padding-left: 8px;
  border-left: 2px solid #c7c7c7;
}

.clearfix {
  clear: both;
}
