* {
  font-family: 'open sans', sans-serif;
  -webkit-box-sizing: border-box;
}

body {
  background: -webkit-linear-gradient(#fff, #E8EBEB);
}

div.logo {
  background: -webkit-linear-gradient(#fff, #f7f7f7);
  border-bottom: 1px solid #c7c7c7;
}

div.logo figure {
  padding: 20px;
  text-align: center;
}

div.logo figure img {
  width: 180px;
}

.secondbar {
  background-color: #FBFBFB;
  border-bottom: 1px solid #c7c7c7;
  z-index: 500;
  -webkit-box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.5);
}

.secondbar .navbar {
  margin-bottom: 0px;
}

.secondbar .navbar img {
  width: 130px;
  margin-top: 15px;
}

.secondbar .navbar ul {
  text-align: right;
  padding: 0px;
  margin: 0px;
}

.secondbar .navbar ul li {
  transition: background-color 0.5s linear 0.5s;
  transition: box-shadow 0.2s linear 0.5s;
  padding-top: 15px;
  padding-bottom: 15px;
  font-weight: bold;
  text-align: center;
}

.secondbar .navbar ul li a {
  color: #008EC3;
}

.secondbar .navbar ul li:hover {
  background: -webkit-linear-gradient(#fff, #F9FDFD);
  background: -moz-linear-gradient(#fff, #F9FDFD);
  background: linear-gradient(#fff, #F9FDFD);
  height: 100%;
  -webkit-box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.5);
}

.secondbar .navbar ul li:hover a {
  text-decoration: none;
  color: #008EC3;
}

.secondbar .navbar-default {
  border-color: white;
  background-color: #FBFBFB;
  border: 0px;
}

.bar-bar {
  padding-right: 0px;
  padding-bottom: 10px;
  margin-bottom: 0px;
  background: -webkit-linear-gradient(#fff, #F9FDFD);
  background: -moz-linear-gradient(#fff, #F9FDFD);
  background: linear-gradient(#fff, #F9FDFD);
  border-bottom: 1px solid #c7c7c7;
}

div#myCarousel {
  padding-left: 0px;
  padding-right: 0px;
}

div#myCarousel .carousel-indicators {
  z-index: 0;
}

div#myCarousel .carousel-indicators .active {
  background-color: #7D8ADE;
}

div#myCarousel .carousel-indicators li {
  border: 1px solid #7D8ADE;
}

div#myCarousel .carousel-control.right {
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, 0) 50%);
  padding-right: 5px;
}

div#myCarousel .carousel-control.left {
  background-image: linear-gradient(to left, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, 0) 50%);
  padding-left: -5px;
  left: 0px;
}

div#myCarousel div.carousel-inner {
  margin-left: 0px;
  border: 0px;
}

div#myCarousel div.carousel-inner div.item {
  /*.carousel-caption{
				margin-left: 24px;
				width: 40%;
				position: absolute;
				top: 20%;
				left: 0;
			}*/
}

div#myCarousel div.carousel-inner div.item .canister {
  right: 40%;
  left: 6%;
  margin-right: 250px;
  bottom: 100px;
}

div#myCarousel div.carousel-inner div.item div.carousel-caption {
  margin-left: 24px;
  width: 40%;
  position: absolute;
  top: 10%;
  left: 0;
  color: #282828;
  font-size: 14px;
  text-shadow: 0 0px 0px transparent;
}

div#myCarousel div.carousel-inner div.item div.carousel-caption span {
  font-size: 60px;
  color: #A3C300;
  transition: font-size 0.5s linear 0.2s;
}

div#myCarousel div.carousel-inner div.item div.carousel-caption h2 {
  font-weight: bold;
  color: #008EC3;
  font-size: 30px;
  text-align: center;
}

div#myCarousel div.carousel-inner div.item div.carousel-caption p {
  font-size: 20px;
}

div#myCarousel div.carousel-inner div.item div.carousel-caption span:hover {
  color: #008EC3;
  font-size: 70px;
}

div#myCarousel div.carousel-inner div.item img {
  display: inline-block;
  width: 100%;
}

.first {
  border-bottom: 1px solid #c7c7c7;
  padding: 0px;
  width: 100%;
}

.box {
  padding-left: 0px;
  padding-right: 0px;
  margin: 10px;
}

.container-box {
  margin-top: 0px;
  width: 100%;
}

.container-box-2 {
  margin-top: 20px;
  -webkit-box-shadow: 0px -1px 1px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px -1px 1px rgba(0, 0, 0, 0.5);
  box-shadow: 0px -1px 1px rgba(0, 0, 0, 0.5);
}

.container-box-2 .clients {
  padding: 10px;
  background-color: #f4f4f4;
  background: -webkit-linear-gradient(#F9FDFD, #EEF1F1);
  background: -moz-linear-gradient(#F9FDFD, #EEF1F1);
  background: linear-gradient(#F9FDFD, #EEF1F1);
  width: 100%;
}

.container-box-2 .clients figure {
  display: inline-block;
  border-right: 1px dashed #c7c7c7;
  padding: 10px 0px;
  margin-right: 25px;
}

.container-box-2 .clients figure img {
  width: 100px;
  margin-right: 25px;
}

.container-box-2 .clients .row {
  text-align: center;
}

.container-box-2 .clients .row p {
  margin-top: 10px;
  color: #00A7D9;
  font-size: 14px;
  font-weight: bold;
}

.social * {
  margin-right: 24px;
}

.footer-social a:link, .footer-social a:visited, .footer-social a:hover, .footer-social a:active {
  text-decoration: none;
  color: #282828;
}

.articulos {
  margin-top: 30px;
}

.origen {
  margin-top: 50px;
  margin-bottom: 50px;
}

.origen .origen-description {
  border: 3px solid #EBEEEE;
  -webkit-box-shadow: 0px 0.5px 1px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 0.5px 1px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0.5px 1px rgba(0, 0, 0, 0.5);
}

.origen .origen-description p.delta-description span {
  font-weight: bold;
  color: #008EC3;
}

.origen .origen-description figure {
  text-align: center;
  padding: 20px 20px 20px 20px;
}

.origen .origen-description figure img {
  width: 180px;
}

.origen .origen-description p {
  margin-top: 10px;
  text-align: justify;
}

.origen .video a {
  text-decoration: none;
}

.origen .video iframe {
  -webkit-box-shadow: 0px 0.5px 1px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 0.5px 1px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0.5px 1px rgba(0, 0, 0, 0.5);
  width: 100%;
}

.botton {
  background-color: #F8FCFC;
  margin-top: 5px;
  text-align: center;
  padding: 10px;
  border-top: 1px solid rgba(255, 255, 255, 0.8);
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5);
}

.botton h4 {
  color: #363D45;
  text-align: center;
  font-weight: bold;
}

.botton p {
  color: #363D45;
  text-align: center;
}

.botton span {
  color: #9CB6D4;
  font-size: 20px;
}

.botton:hover {
  text-decoration: none;
  background-color: #008EC3;
}

.botton:hover h4 {
  color: white;
}

.botton:hover p {
  color: white;
}

.botton:hover span {
  color: white;
}

.contenido .carousel-inner {
  width: 400px;
  -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.contenido .carousel-inner .item {
  width: 400px;
  padding: 20px;
}

.contenido .carousel-inner .item img {
  width: 400px;
}

.contenido .carousel-inner .active img {
  width: 400px;
}

.contenido .contenido2 {
  display: block;
  margin-right: 0px;
}

.contenido .contenido2 h3 {
  font-weight: bold;
  color: #008EC3;
  padding: 5px;
  margin-bottom: 20px;
}

.contenido .contenido2 figure {
  display: inline-block;
  width: 49%;
  margin-bottom: 50px;
  text-align: center;
}

.contenido .contenido2 figure img {
  width: 100px;
  transition: width 0.5s linear 0.2s;
}

.contenido .contenido2 figure img:hover {
  width: 120px;
}

.productos-select {
  padding: 16px;
}

.productos-info {
  width: 60%;
  margin: 0 auto;
  background-color: #EaEaEa;
  padding: 24px;
  border: 1px solid black;
}

.line {
  display: inline-block;
  vertical-align: middle;
  background-color: #E8EAEA;
  border-top: 1px solid rgba(255, 255, 255, 0.8);
  height: 1px;
  width: 40px;
  border-radius: 4px;
  -webkit-box-shadow: 0px 0.5px 1px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 0.5px 1px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0.5px 1px rgba(0, 0, 0, 0.5);
}

.producto {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 64px;
  width: 150px;
  background-color: #EBEBEB;
  cursor: pointer;
  color: #3C486E;
  font-weight: bold;
  border-top: 1px solid rgba(255, 255, 255, 0.8);
}

.producto .producto-tooltip {
  visibility: hidden;
  width: 0;
  height: 0;
  border-left: 16px solid transparent;
  border-right: 16px solid transparent;
  border-bottom: 24px solid #EaEaEa;
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -16px;
  margin-top: 4px;
  z-index: 100;
}

.producto.selected {
  background-color: #007790;
  color: white;
  border-top: 1px solid rgba(255, 255, 255, 0.8);
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.5);
}

.producto.selected .producto-tooltip {
  visibility: visible;
}

.contacto {
  margin-top: 90px;
}

.footer {
  background: -webkit-linear-gradient(#EEF2F2, #E3E4E4);
  background: -moz-linear-gradient(#EEF2F2, #E3E4E4);
  background: linear-gradient(#EEF2F2, #E3E4E4);
}

.producto-descripcion-tecnica h4 {
  font-weight: bold;
  color: #008EC3;
}

.productos {
  padding: 40px;
  background-color: #f0f0f0;
  border-top: 1px solid #c7c7c7;
}

.productos img {
  height: 200px;
  width: 200px;
  border-top: 1px solid rgba(255, 255, 255, 0.8);
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.5);
}

.productos h2 {
  font-weight: bold;
  color: white;
  background-color: #4E8EC3;
  padding: 10px 0px 10px 0px;
  text-align: center;
}

.productos p {
  position: relative;
  text-align: justify;
}

.productos p button {
  display: block;
  width: 120px;
  margin: 0 auto;
}

.valign {
  display: inline-block;
  vertical-align: top;
  float: none;
}

.table {
  margin-top: 20px;
}

.thead-inverse {
  background-color: #008EC3;
  color: white;
}

.thead-inverse th {
  text-align: center !important;
}

tbody tr td {
  vertical-align: middle !important;
  font-size: 20px;
  text-align: left !important;
}

.prodimg {
  text-align: left !important;
}

.prodimg img {
  width: 276px;
  margin: 5px;
  border-top: 1px solid rgba(255, 255, 255, 0.8);
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.5);
}

@media (max-width: 400px) {
  .productos2 img {
    margin-bottom: 16px;
  }
}

.modal-body {
  text-align: center;
}

.news {
  overflow-y: scroll;
  height: 296px;
  padding-left: 24px;
}

.news .article {
  padding: 16px 0;
  border-bottom: 1px solid #c7c7c7;
}

.news .article img {
  float: left;
  height: 80px;
  margin-right: 16px;
}

.news .article .title {
  font-weight: bold;
  font-size: 2.5em;
}

.news .article .author, .news .article .date {
  font-size: 1em;
}

.news .article .date {
  float: right;
}

@media (max-width: 480px) {
  .video .iframe {
    margin-top: 10px;
  }
}

@media (max-width: 768px) {
  .carousel-caption h3, .carousel-caption p, .carousel-caption a h2 {
    display: none;
  }
}
