
$linecolor: #c7c7c7;


*{
	font-family: 'open sans', sans-serif;
	-webkit-box-sizing: border-box;
}

body{

}

nav{
	background-color: white;
	width: 100%;
	display: inline-block;
	margin: 5px 0px;
	margin-bottom: -15px;
	border-bottom: 1px solid $linecolor;
	//-webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5);
	//-moz-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5);
	//box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5);
	//height: 50px;
	
	


	figure{
		padding: 6px;
		//width: 5px;
		text-align: center;
		//height: 95px;
		display: inline-block;
		background-color: white;
		
		img{
			margin-left: 100px;
			width: 120px;
		}
	}
	
	ul{
		text-align: right;
		padding: 0px;
		margin: 0px;
		
		li{
			display: inline-block;
			text-decoration: none;
			padding: 25px;
			margin-right: 0px;
			transition: background-color 0.6s linear 0.5s;
			transition: box-shadow 0.1s linear 0.3s;
			font-size: 14px;
			//font-weight: bold;
			vertical-align: center;

			
			a{
				color: black;

			}
			a:hover{
				text-decoration: none;
				color: black;

			}			
		}

		li:hover{
			background-color: rgba(139,178,175,0.3);
			height: 100%;
			-webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5);
			-moz-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5);
			box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5);
		}
	}
}

.navbar{
	padding-right: 0px;
	padding-bottom: 10px;
	margin-bottom: 0px;
	//background-color: #0087BC;

	//border: 1px solid #282828;

}

div#myCarousel{
	padding-left: 0px;
	padding-right: 0px;
	.carousel-control{
		//width: 60%;
	}


	.carousel-indicators{
		.active{
			 background-color: #7D8ADE;

		}
		  
		   
		   	li{
		   		 border: 1px solid #7D8ADE;

		   	}
		  
	}

	.carousel-control.right{
		    background-image: linear-gradient(to right,rgba(255, 255, 255, 0) 0,rgba(255, 255, 255, 0) 50%);
		    padding-right: 5px;
			right: -15px;
	}
	
	.carousel-control.left{
			background-image: linear-gradient(to left,rgba(255, 255, 255, 0) 0,rgba(255, 255, 255, 0) 50%);
			padding-left: -5px;
			left: 0px;
	}

	div.carousel-inner{
		margin-left: 0px;
		border: 0px;


		border-radius: 10px;
		-webkit-box-shadow: 0px 3px 2px rgba(0, 0, 0, 0.5);
		-moz-box-shadow: 0px 3px 2px rgba(0, 0, 0, 0.5);
		box-shadow: 0px 3px 2px rgba(0, 0, 0, 0.5);
		
		div.item{
			text-align: center;
			
			


			div.carousel-caption{
				right: 26%;
				left: 6%;
				margin-right: 250px;
				color: #282828;
				//width: 25%;
				font-size: 14px;
				text-shadow: 0 0px 0px rgba(0,0,0,.0);
				padding-bottom: 4px;

				p{

				}
			}

			img{
				display: inline-block;
				width: 100%;
				
				//height: 300px;
				border-radius: 10px;
			}
		}
	}
}

.first{
	background: -webkit-linear-gradient(#fff, #E8EBEB);
	//background-color: #6495CC;
	border-bottom: 1px solid $linecolor;
	//margin-right: 200px;
	//margin-left: 200px;

	
}
.box{

	//background-color: black;
	//height: 245px;
	padding-left: 0px;
	padding-right: 0px;
	margin: 10px;
}
	


.container-box{
	
	margin-top: 0px;
	//margin-left: 85px;
	//-webkit-box-shadow: 0px 0px 5px grey;
	padding: 40px;
	
	width: 70%;
	border-radius: 10px;
}

.container-box-2{
	//background-color: rgba(0,143,195,0.3);
	margin-top: 20px;
	-webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5);
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5);
	
	.clients{
		
		text-align: center;
		padding:20px;
		padding-bottom: 5px;
		background-color: #f4f4f4;
		//border: 1px solid $linecolor;
		
		//border-radius: 10px;
		width: 100%;

		figure{
			display: inline-block;
			border-right: 1px dashed $linecolor;
			
			margin-right: 25px;
			
			img{
				width: 85px;
				margin-right: 25px;
				//transition: width 0.5s linear 0.1s;
			}
			
		}
		div{
			p{
				margin-top: 30px;
				color: #00A7D9;
				font-size: 14px;
				font-weight: bold;


			}
			
		}
	}
}





.social *{
	margin-right: 24px;
}

.footer-social{	
	a:link, a:visited, a:hover, a:active{
		text-decoration: none;
		color: #282828;
	}
	
}

.container{

	//margin-right: 100px;
	//margin-left: 100px;
	
}

.content-section{
	text-align: center;
	//background-color: #f4f4f4;
	margin-top: 20px;
	margin-bottom: 20px;
	//padding: 40px;

	.container{
		//border-top: 1px solid #00A7D9;
	}

	.buttons-item-box-content{
		display: inline-block;
		margin-top: 60px;
		margin-left: 75px;
		.buttons-item-box{
			background-color: #00A7D9;
			height: 160px;
			margin-right: 10px;
			margin-bottom: 10px;
			//margin-left: 75px;
		}
		.buttons-item-box:hover{
			-webkit-box-shadow: 0px 3px 2px rgba(0, 0, 0, 0.5);
			-moz-box-shadow: 0px 3px 2px rgba(0, 0, 0, 0.5);
			box-shadow: 0px 3px 2px rgba(0, 0, 0, 0.5);

			background-color: #00538D;

		}
		.b1{
			
			background-color: #00A7D9;
			span{
				font-size: 90px;
				color: white;
				margin-top: 35px;
			}
			p{
				font-size: 14px;
				color: white;
				font-weight: bold;
			}
		}
		.b2{
			background-color: #00D986;
			span{
				font-size: 90px;
				color: white;
				margin-top: 35px;
			}
			p{
				font-size: 14px;
				color: white;
				font-weight: bold;
			}
		}
		.b3{
			
			background-color: #D9008F;
			span{
				font-size: 90px;
				color: white;
				margin-top: 35px;
			}
			p{
				font-size: 14px;
				color: white;
				font-weight: bold;
			}
		}
		.b4{
			background-color: #00A7D9;
			span{
				font-size: 90px;
				color: white;
				margin-top: 35px;
			}
			p{
				font-size: 14px;
				color: white;
				font-weight: bold;
			}
		}

	}

	
	.contenido{
		//background-color: #00A7D9;
		//border: 1px solid #00A7D9;
		border-radius: 10px;
		margin-top: 40px;
		//height: 200px;
		margin-right: 45px;
		//padding: 0px;
		margin-left: 165px;
		iframe{
			border-radius: 10px;
		}

		h2{
			
			font-size: 19px;
			color: #00A7D9;
		}
		p{
			text-align: left;
		}
		img{
			width: 120px;
			//margin-top: 70px;
			border-radius: 10px;
			transition: width 0.5s linear 0.1s;
			margin-top: 10px;

		}
		/*img:hover{
			width: 140px;
			transition: width 0.5s linear 0.1s;
		}*/
		.fa{
			font-size: 60px;
		}

	}
}

