* {
  font-family: 'open sans', sans-serif;
  -webkit-box-sizing: border-box;
}

nav {
  background-color: white;
  width: 100%;
  display: inline-block;
  margin: 5px 0px;
  margin-bottom: -15px;
  border-bottom: 1px solid #c7c7c7;
}

nav figure {
  padding: 6px;
  text-align: center;
  display: inline-block;
  background-color: white;
}

nav figure img {
  margin-left: 100px;
  width: 120px;
}

nav ul {
  text-align: right;
  padding: 0px;
  margin: 0px;
}

nav ul li {
  display: inline-block;
  text-decoration: none;
  padding: 25px;
  margin-right: 0px;
  transition: background-color 0.6s linear 0.5s;
  transition: box-shadow 0.1s linear 0.3s;
  font-size: 14px;
  vertical-align: center;
}

nav ul li a {
  color: black;
}

nav ul li a:hover {
  text-decoration: none;
  color: black;
}

nav ul li:hover {
  background-color: rgba(139, 178, 175, 0.3);
  height: 100%;
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5);
}

.navbar {
  padding-right: 0px;
  padding-bottom: 10px;
  margin-bottom: 0px;
}

div#myCarousel {
  padding-left: 0px;
  padding-right: 0px;
}

div#myCarousel .carousel-indicators .active {
  background-color: #7D8ADE;
}

div#myCarousel .carousel-indicators li {
  border: 1px solid #7D8ADE;
}

div#myCarousel .carousel-control.right {
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, 0) 50%);
  padding-right: 5px;
  right: -15px;
}

div#myCarousel .carousel-control.left {
  background-image: linear-gradient(to left, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, 0) 50%);
  padding-left: -5px;
  left: 0px;
}

div#myCarousel div.carousel-inner {
  margin-left: 0px;
  border: 0px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 3px 2px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 3px 2px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 3px 2px rgba(0, 0, 0, 0.5);
}

div#myCarousel div.carousel-inner div.item {
  text-align: center;
}

div#myCarousel div.carousel-inner div.item div.carousel-caption {
  right: 26%;
  left: 6%;
  margin-right: 250px;
  color: #282828;
  font-size: 14px;
  text-shadow: 0 0px 0px transparent;
  padding-bottom: 4px;
}

div#myCarousel div.carousel-inner div.item img {
  display: inline-block;
  width: 100%;
  border-radius: 10px;
}

.first {
  background: -webkit-linear-gradient(#fff, #E8EBEB);
  border-bottom: 1px solid #c7c7c7;
}

.box {
  padding-left: 0px;
  padding-right: 0px;
  margin: 10px;
}

.container-box {
  margin-top: 0px;
  padding: 40px;
  width: 70%;
  border-radius: 10px;
}

.container-box-2 {
  margin-top: 20px;
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5);
}

.container-box-2 .clients {
  text-align: center;
  padding: 20px;
  padding-bottom: 5px;
  background-color: #f4f4f4;
  width: 100%;
}

.container-box-2 .clients figure {
  display: inline-block;
  border-right: 1px dashed #c7c7c7;
  margin-right: 25px;
}

.container-box-2 .clients figure img {
  width: 85px;
  margin-right: 25px;
}

.container-box-2 .clients div p {
  margin-top: 30px;
  color: #00A7D9;
  font-size: 14px;
  font-weight: bold;
}

.social * {
  margin-right: 24px;
}

.footer-social a:link, .footer-social a:visited, .footer-social a:hover, .footer-social a:active {
  text-decoration: none;
  color: #282828;
}

.content-section {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.content-section .buttons-item-box-content {
  display: inline-block;
  margin-top: 60px;
  margin-left: 75px;
}

.content-section .buttons-item-box-content .buttons-item-box {
  background-color: #00A7D9;
  height: 160px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.content-section .buttons-item-box-content .buttons-item-box:hover {
  -webkit-box-shadow: 0px 3px 2px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 3px 2px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 3px 2px rgba(0, 0, 0, 0.5);
  background-color: #00538D;
}

.content-section .buttons-item-box-content .b1 {
  background-color: #00A7D9;
}

.content-section .buttons-item-box-content .b1 span {
  font-size: 90px;
  color: white;
  margin-top: 35px;
}

.content-section .buttons-item-box-content .b1 p {
  font-size: 14px;
  color: white;
  font-weight: bold;
}

.content-section .buttons-item-box-content .b2 {
  background-color: #00D986;
}

.content-section .buttons-item-box-content .b2 span {
  font-size: 90px;
  color: white;
  margin-top: 35px;
}

.content-section .buttons-item-box-content .b2 p {
  font-size: 14px;
  color: white;
  font-weight: bold;
}

.content-section .buttons-item-box-content .b3 {
  background-color: #D9008F;
}

.content-section .buttons-item-box-content .b3 span {
  font-size: 90px;
  color: white;
  margin-top: 35px;
}

.content-section .buttons-item-box-content .b3 p {
  font-size: 14px;
  color: white;
  font-weight: bold;
}

.content-section .buttons-item-box-content .b4 {
  background-color: #00A7D9;
}

.content-section .buttons-item-box-content .b4 span {
  font-size: 90px;
  color: white;
  margin-top: 35px;
}

.content-section .buttons-item-box-content .b4 p {
  font-size: 14px;
  color: white;
  font-weight: bold;
}

.content-section .contenido {
  border-radius: 10px;
  margin-top: 40px;
  margin-right: 45px;
  margin-left: 165px;
  /*img:hover{
			width: 140px;
			transition: width 0.5s linear 0.1s;
		}*/
}

.content-section .contenido iframe {
  border-radius: 10px;
}

.content-section .contenido h2 {
  font-size: 19px;
  color: #00A7D9;
}

.content-section .contenido p {
  text-align: left;
}

.content-section .contenido img {
  width: 120px;
  border-radius: 10px;
  transition: width 0.5s linear 0.1s;
  margin-top: 10px;
}

.content-section .contenido .fa {
  font-size: 60px;
}
