
$linecolor: #c7c7c7;



.empresa{
	display: inline-block;
	margin-top: 30px;
	margin-bottom: 30px;
	img{
		width: 120px;
	}

	
}

.delta-empresa{
		p{
			span{
				color: #005290;
				font-weight: bold;
			}
		}
	}