
    <!-- Scripts -->
    <script src={{ "assets/js/jquery.min.js" | absURL }}></script>
    <script src={{ "assets/js/browser.min.js" | absURL }}></script>
    <script src={{ "assets/js/breakpoints.min.js" | absURL }}></script>
    <script src={{ "assets/js/util.js" | absURL }}></script>
    <script src={{ "assets/js/main.js" | absURL }}></script>
    <script async defer src="https://buttons.github.io/buttons.js"></script>    
	<script src={{ "assets/js/load-photoswipe.js" | absURL }}></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/photoswipe/4.1.1/photoswipe.min.js" integrity="sha256-UplRCs9v4KXVJvVY+p+RSo5Q4ilAUXh7kpjyIP5odyc=" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/photoswipe/4.1.1/photoswipe-ui-default.min.js" integrity="sha256-PWHOlUzc96pMc8ThwRIXPn8yH4NOLu42RQ0b9SpnpFk=" crossorigin="anonymous"></script>

    <!-- Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-9TK6GVQRTM"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'G-9TK6GVQRTM');
    </script>
</html>